.post-container {
  margin: 0 15%;
  font-size: 1.1em;
}

h1 small {
  line-height: 2.5;
}

.back-arrow {
  color: black
}

.edit-delete-container {
  float: right;
}

i.trash.outline.large.icon {
  color: #b50000;
  margin-left: 0.5em;
}

.post-vote-box {
  text-align: center;
}

.post-vote-box i.chevron.down.large.link.icon {
  margin-left: .5em;
}

.ui.horizontal.statistic>.label, .ui.horizontal.statistics .statistic>.label {
  margin: 0 0 0 0;
}

.ui.mini.statistic.post-vote-score {
  margin: 0 0 0 0;
}

.post-vote-buttons {
  margin-left: 1em;
}

.post-comments {
  margin-top: 5em;
}

.post-date {
  text-align: right;
  margin-bottom: 1em;
}

.post-body {
  white-space: pre;
}
