.post-list {
  margin: 0 15%;
}

h1 small {
  line-height: 2.5;
  float: right;
}

.post-preview {
  margin: 20px 0 20px 0;
}

.vote-score-container {
  margin-right: 2em;
}

.posts-container {
  font-size: 1.1em;
}

.voting-buttons i:first {
  float:left
}

.voting-buttons i:last-child {
  float:right
}
