.post-list {
  margin: 0 15%;
}

h1 small {
  line-height: 2.5;
  float: right;
}

.post-preview {
  margin: 20px 0 20px 0;
}

.posts-container {
  font-size: 1.1em;
}

.post-preview-title {
  color: black;
}

.ui.statistic:first-child {
    margin-top: 0;
    margin-bottom: .5em;
}

.four-oh-four {
  text-align: center;
  color: #999;
  font-size: 1.3em;
}
